.App {
  text-align: center;
}
.overflow{
  overflow-x:hidden

}
.toast-overlay {
  position: fixed; /* Sit on top of the page content */
  display:show; /* Hidden by default */
  width: 12%; /* Full width (cover the whole page) */
  height: 12%; /* Full height (cover the whole page) */
  top: 1;
  left: 1;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.margins{
  margin-right: 15%;
  margin-left: 15%;
}


/* footer */
.listItem {
  font-size: 0.7vw;
  cursor: pointer;
  text-align: center;
}
.footerIMG{
  width: 60%;
}


/* main */
.mainContainer{
  background-color: #495e57;
  position: relative;
  
}
.title{
  color:  #f4ce14;
  font-size: 74pt;
}
.subtitle{
  color: white;
 text-align: left;
 font-size: 50pt;
 
}
.subText{
 color: white;
 text-align: left;
 width: 30%;
 font-size: 30pt;
}
.button{
  background-color: #f4ce14;
  font-weight: bold;
  font-size: 14pt;
  padding-left: 1.3rem;
  padding-right:1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: none;

}
#weekTitle{
  font-size: 35pt;
  font-weight: bolder;
}



.imageContainer{
  background-image: url("./icons_assets/restauranfood.jpg") ;
  background-size:100% 100%;
  width: 30%;
  min-height:105%;
  max-height:110%;
   position: absolute; 
  top: 4vw; 
  left: 60%;
  border-radius: 18px;


}

.weeks{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card{
  width: 29%;
  border-color: transparent;

}
.cardImg{
  min-height: 30%;
  max-height: 33%;
}

.cardTitle{
 color:black;
  width:100%;
   font-Size:18pt;
   font-Weight:bold;
    padding:3%;
}

.cardPrice{
  color:#f4ce14;
  text-align: right;
  font-Size:18pt;
  padding:3%;
}

.cardText{
 color: black;width: 100%;
  font-Size: 16pt ;padding: 5%;
  min-height: 50%;
}


.onlineButton{
  font-size: 1.4vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  border-radius: 15px;
  margin-right: 16%;

}

.bordercolor{
  border:red solid 2px;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vw;
}


/* nav */
.smallNav{
  display: flex;
  flex-direction: row;
  padding: 1%;
  
}
.lemonLogo{
  align-content: start;
  text-align: left;
  align-self: start;
  width: 22%;
 }
.navLink:link{
  font-size: 22pt;
  color:#0606067d;
  font-weight: bold;
text-decoration: none;
cursor: pointer;
vertical-align: middle;


}


.NavAnimation-enter {
  opacity: 1;
  transform: scale(0.5);
}
.NavAnimation-enter-active {
  opacity: 2;
  transform: translateX(0);
  transition: opacity 250ms, transform 250ms;
}
.NavAnimation-exit {
  opacity: 2;
}
.NavAnimation-exit-active {
  opacity: 1;
  transform: scale(0.5);
  transition: opacity 250ms, transform 250ms;
}


.sideMenu {
 text-align: right;
 background-color: white;

}
.margin{
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 2000px) {

  .title{
    color:  #f4ce14;
    font-size: 64pt;
  }
  .subtitle{
    color: white;
   text-align: left;
   font-size: 40pt;
   
  }
  .subText{
   color: white;
   text-align: left;
   width: 25%;
   font-size: 24pt;
  }

  
  
.imageContainer{
  background-image: url("./icons_assets/restauranfood.jpg") ;
  background-size:100% 100%;
  width: 24%;
  min-height:105%;
  max-height:110%;
   position: absolute; 
  top: 3vw; 
  left: 66%;
  border-radius: 18px;


}



/* nav */
.smallNav{
  display: flex;
  flex-direction: row;
  

}
.lemonLogo{
  align-content: start;
  text-align: left;
  align-self: start;
  width: 22%;
 }
.navLink:link{
  font-size: 20pt;
  color:#0606067d;
  font-weight: bold;
text-decoration: none;
cursor: pointer;
vertical-align: middle;

margin-bottom: 3%;}


}

@media (max-width: 1500px) {
  .lemonLogo{
    align-content: start;
    text-align: left;
    align-self: start;
    width: 26%;
   }

   .smallNav{
    display: flex;
    flex-direction: row;
  
  }
  
  .navLink:link{
    font-size: 18pt;
    color:#0606067d;
    font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}

  .subText{
    color: white;
    text-align: left;
    width: 30%;
    font-size: 24pt;
   }
  
.imageContainer{
  background-image: url("./icons_assets/restauranfood.jpg") ;
  background-size:100% 100%;
  width: 28%;
  min-height:95%;
  max-height:110%;
   position: absolute; 
  top: 5.5vw; 
  left: 63%;
  border-radius: 18px;


}
}

@media (max-width: 1200px) {
  
  .cardTitle{
  
      font-Size:16pt;
 
   }
   
   .cardPrice{
    
     font-Size:16pt;
    
   }
   
   .cardText{
    
     font-Size: 14pt;
     min-height: 60%;
   }
  .lemonLogo{
    align-content: start;
    text-align: left;
    align-self: start;
    width: 26%;
   }

   .smallNav{
    display: flex;
    flex-direction: row;
  
  }
  
  .navLink:link{
    font-size: 16pt;
    color:#0606067d;
    font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  margin-left:0%;}


  .subText{
    color: white;
    text-align: left;
    width: 40%;
    font-size: 22pt;
   }
  .imageContainer{
  
    width: 32%;
    min-height:98%;
    max-height:110%;
     position: absolute; 
    top: 5vw; 
    left: 58%;
   
  
  
  }
 
}

@media (max-width: 1000px) {
 
  .margin{
    margin-left: 10%;
    margin-right: 10%;
  }
  .smallNav{
   display: flex;
   flex-direction: row;
   
  }



 .navLink:link{
   margin-left: 0%;
   font-size: 14pt;
   color:#0606067d;
   font-weight: bold;
 text-decoration: none;
 cursor: pointer;
 vertical-align: middle;
}

 .sideMenu {
   display: none;
   
 }
 .subText{
  width: 40%;
   font-size: 18pt;

  }

 .cardTitle{

     font-Size:14pt;
     
  }

  .cardPrice{

   font-Size:14pt;
   
}


.cardImg{
 min-height: 30%;
 max-height: 30%;
}

  .cardText{
   padding: 3%;
    padding-top: 0%;
    font-Size: 14pt;
    min-height: 60%;
  }
 .cards{

 
  
   margin-top: 3vw;
 }
 
 #weekTitle{
   font-size: 32pt;
   font-weight: bolder;

 }
 .title{
 
   font-size: 48pt;

 }
 .subtitle{

  font-size: 38pt;

  
 }
 

 .button{
   
   font-weight: bold;
   font-size: 12pt;
   vertical-align: bottom;
   align-self: bottom;


 }

 .card{
  width: 100%;
 

}

 

 .imageContainer{

   width: 290px;
     min-height:400px ;
   margin-top: 20px;
   border-radius: 18px;
 margin-left: -2%;
 }



.listItem {
   font-size: 1.6vw;
   cursor: pointer;
  
 }
 .footerIMG{
   width: 80%;
 }

 

}


@media (max-width: 900px) {
 
   .smallNav{
    display: flex;
    flex-direction: row;
    
   }

   .lemonLogo{
  column-count: 1;
  
   }

  .navLink:link{
    margin-left: 0%;
    font-size: 13pt;
    color:#0606067d;
    font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}

  .sideMenu {
    display: none;
    
  }
  .subText{
  
    font-size: 18pt;
 
   }

  .cardTitle{

      font-Size:12pt;
      
   }

   .cardPrice{

    font-Size:12pt;
    
 }


 .cardImg{
  min-height: 30%;
  max-height: 30%;
}

   .cardText{
    padding: 3%;
     padding-top: 0%;
     font-Size: 12pt;
   }
  .cards{

  
   
    margin-top: 3vw;
  }
  
  #weekTitle{
    font-size: 30pt;
    font-weight: bolder;

  }
  .title{
  
    font-size: 45pt;

  }
  .subtitle{
 
   font-size: 30pt;

   
  }
  

  .button{
    
    font-weight: bold;
    font-size: 12pt;
    vertical-align: bottom;
    align-self: bottom;

 
  }

  .card{
    width: 100%;
   
  }
 
  

  .imageContainer{
 
    width: 280px;
      min-height:380px ;
    margin-top: 20px;
    border-radius: 18px;
  margin-left: -3%;
  }



.listItem {
    font-size: 1.6vw;
    cursor: pointer;
   
  }
  .footerIMG{
    width: 80%;
  }

  

}




@media (max-width: 800px) {
  .overflow{
    overflow-x:visible;
  
  }
  
  .margins{
    margin-right: 5%;
    margin-left: 5%;
  }

 
  .lemonLogo{
    align-content: start;
    text-align: left;
    align-self: start;
    width: 40%;
   }
  .smallNav{
    display: none;
    
   }

 .navLink:link{
    display: none;
  }

 
     
  .sideMenu {
    
    display: block;
   
   }

  .subText{
  
    font-size: 16pt;
    text-align: center;
    width: 100%;
   }

  .cardTitle{

      font-Size:18pt;
      
   }

   .cardPrice{

    font-Size:18pt;
    
 }
   .cardText{
    padding: 3%;
     padding-top: 0%;
     font-Size: 16pt;
   }
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
  }
  
  #weekTitle{
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
  }
  .title{
  
    font-size: 32pt;
    text-align: center;
  }
  .subtitle{
 
   font-size: 24pt;
   text-align: center;
   
  }
  

  .button{
    
    font-weight: bold;
    font-size: 12pt;
    vertical-align: bottom;
    align-self: bottom;

 
  }

  .card{
    width: 70%;
   
  }
  
.imageContainer{

 display:none;

}

.center{
  text-align: center;
}

.listItem {
    font-size: 2.1vw;
    cursor: pointer;
   
  }
  .footerIMG{
    width: 90%;
  }

}

@media (max-width: 600px) {
 
  .lemonLogo{
    align-content: start;
    text-align: left;
    align-self: start;
    width: 55%;
   }
  .smallNav{
    display: none;
    
   }

 .navLink:link{
    display: none;
  }

 
     
  .sideMenu {
    
    display: block;
   
   }

  .subText{
  
    font-size: 14pt;
    text-align: center;
    width: 100%;
   }

  .cardTitle{

      font-Size:16pt;
      
   }

   .cardPrice{

    font-Size:16pt;
    
 }
   .cardText{
    padding: 3%;
     padding-top: 0%;
     font-Size: 14pt;
   }
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
  }
  
  #weekTitle{
    font-size: 23pt;
    font-weight: bolder;
    text-align: center;
  }
  .title{
  
    font-size: 30pt;
    text-align: center;
  }
  .subtitle{
 
   font-size: 22pt;
   text-align: center;
   
  }
  

  .button{
    
    font-weight: bold;
    font-size: 10pt;
    vertical-align: bottom;
    align-self: bottom;

 
  }

  .card{
    width: 65%;
   
  }
  
.imageContainer{

 display:none;

}

.center{
  text-align: center;
}

.listItem {
    font-size: 2.3vw;
    cursor: pointer;
   
  }
  .footerIMG{
    width: 90%;
  }

}

@media (max-width: 500px) {
  

  .subText{
  
    font-size: 12pt;
    text-align: center;
    width: 100%;
   }

  .cardTitle{

      font-Size:14pt;
      
   }

   .cardPrice{

    font-Size:14pt;
    
 }
   .cardText{
    padding: 3%;
     padding-top: 0%;
     font-Size: 12pt;
   }
 
  
  #weekTitle{
    font-size: 23pt;
    font-weight: bolder;
    text-align: center;
  }
  .title{
  
    font-size: 28pt;
    text-align: center;
  }
  .subtitle{
 
   font-size: 20pt;
   text-align: center;
   
  }
  

  .button{
    
    font-weight: bold;
    font-size: 8pt;
    vertical-align: bottom;
    align-self: bottom;

 
  }

  .card{
    width: 75%;
   
  }
  





}



@media (max-width: 300px) {
  .lemonLogo{
  
    width: 45%;
   }

  .button{
    
    font-weight: bold;
    font-size: 6pt;
    vertical-align: bottom;
    align-self: bottom;

 
  }
  .sideMenu {
  

   margin-right: 15%;
  }
 
  #weekTitle{
    font-size: 18pt;
    font-weight: bolder;
    text-align: center;
  }
  .title{
  
    font-size: 28pt;
    text-align: center;
  }
  .subtitle{
 
   font-size: 20pt;
   text-align: center;
   
  }

  .subText{
  
    font-size: 12pt;
    text-align: center;
    width: 100%;
   }

  .cardTitle{

      font-Size:12pt;
      
   }

   .cardPrice{

    font-Size:12pt;
    
 }
   .cardText{
    padding: 3%;
     padding-top: 0%;
     font-Size: 10pt;
   }
  
   .listItem {
    font-size: 2vw;
    cursor: pointer;
   
  }
  .footer{
    display: none;
  }


  .footerIMG{
    display: none;
  }
 
}

/* Form */

#formTitle{
  color:black;
   width:100%;
    font-Size:23pt;
    font-Weight:bold;
     
 }

 .borderNone{
  border: 0;
  box-shadow: none; 
 }